*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(110deg, pink 40%, rgb(226, 42, 73) 40%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#countdown{
    background-color: rgb(175, 37, 90);
    padding: 1rem 2.5rem;
    border-radius: 1.5rem;
    font-size: 5rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 8px 8px rgba(0,0,0,0.23);
    color: white;
}

span{
    text-shadow: 2px 1px 5px rgb(71, 16, 16);
}
