*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(241, 169, 181);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#countdown{
    background-color: rgb(231, 60, 89);
    padding: 1rem 2.5rem;
    border-radius: 1.5rem;
    font-size: 5rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: white;
}

span{
    text-shadow: 1px 1px 1px black;
}
